
<div class = "container">
    
    <div class = "row">
        <div class = "col-sm-12 col-mg-12 col-lg-12">
            <% if @address.errors.any? %>
            <h3><%= @address.errors.count %>件のエラーが発生しました</h3>
            <ul>
            <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
            <% end %>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-sm-12 col-mg-11 col-lg-10 px-sm-0">
            
            <h4 class = "col-lg-3 m-4 text-right font-weight-bold">配送先編集</h4>
            
             <%= form_with model: @address, url: public_address_path, method: :put do |f| %>
            <div class = "row">
                <div class = "col-lg-3">郵便番号(ハイフンなし)</div>
                <div class = "col-lg-3">
                    <div class = "form-group">
                        <div class = "field">
                            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
                        </div>
                    </div>
                </div>
            </div>
             <div class = "row">
                <div class = "col-lg-3">住所</div>
                <div class = "col-lg-3">
                    <div class = "form-group">
                        <div class = "field">
                            <%= f.text_field :address, size:60 ,autofocus: true, autocomplete: "address" %>
                        </div>
                    </div>
                </div>
            </div>
             <div class = "row">
                <div class = "col-lg-3">宛名</div>
                <div class = "col-lg-6">
                    <div class = "form-group">
                        <div class = "field">
                            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-3">
                    <%= f.submit "変更内容を保存", class:"btn btn-success" %>
                </div>
            </div>
           <% end %>
            
        </div>
    </div>
</div>