
<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 col-mg-11 col-lg-11 px-sm-0">
            
            <h4 class = "col-lg-3 m-4 text-right font-weight-bold">配送先登録/一覧</h4>
            
            <!-- 配送先の登録　-->
            <%= form_with model: @address, url: public_addresses_path(@address), method: :post do |f| %>
            <div class = "row">
                <div class = "col-lg-3 ml-2">郵便番号(ハイフンなし)</div>
                <div class = "col-lg-3">
                    <div class = "form-group">
                        <div class= "field">
                            <%= f.text_field :postal_code, autofocus: true %>
                        </div>
                    </div>
                </div>
            </div>
             <div class = "row">
                <div class = "col-lg-3 ml-2">住所</div>
                <div class = "col-lg-3">
                    <div class = "form-group">
                        <div class= "field">
                            <%= f.text_field :address, autofocus: true, size: 60 %>
                        </div>
                    </div>
                </div>
            </div>
             <div class = "row">
                <div class = "col-lg-3 ml-2">宛名</div>
                <div class = "col-lg-6">
                    <div class = "form-group">
                        <div class= "field">
                            <%= f.text_field :name, autofocus: true %>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-2">
                    <%= f.submit "新規登録",style: "width:150",class: "btn btn-success" %>
                </div>
            <% end %>
            </div>
            
            <!--配送先の一覧-->
            
            <div class = "row">
              <div class = "col-lg-11">
                <table class = "table table-bordered">
                  <thead>
                     <tr>
                         <th>郵便番号</th>
                         <th>住所</th>
                         <th>宛名</th>
                         <th></th>
                      </tr>
                  </thead>
                  <tbody>
                     <% @addresses.each do |address| %>
                        <tr>
                          <td><%= address.postal_code %></td>
                          <td><%= address.address %></td>
                          <td><%= address.name %></td>
                          <td>
                              <%= link_to  "編集する",edit_public_address_path(address), class:"btn btn-success m-1" %>
                             
                              <%= link_to "削除する",public_address_path(address), class:"btn btn-danger m-1",method: :delete, "data-confirm" => "本当に削除しますか？"  %>
                            
                          </td>
                        </tr>
                     <% end %>
                   </tbody>

               </table>
              </div>
                
            </div>
            
        </div>
    </div>
</div>