
<div class = "container">
  <div class = "row">
    <div class = "col-sm-12 col-mg-12 col-lg-12 px-sm-0">
      <h5 class = "m-3">ログイン</h5>
      
      <h6 class ="m-2 pl-4">会員の方はこちらからログイン</h6>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "row m-2">
          <div class = "col-lg-3 pl-5">メールアドレス</div>
            <div class = "col-lg-3"> 
              <div class="field ">
                <%= f.email_field :email, size:60,autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>
        <div class = "row m-2">
          <div class = "col-lg-3 pl-5">パスワード</div>
            <div class = "col-lg-3"> 
              <div class="field ">
                <%= f.password_field :password,size: 60, autocomplete: "current-password" %>
            </div>
          </div>
        </div>
        
         <div class = "row my-5">
          <div class = "col-lg-3 pl-5"></div>
            <div class = "col-lg-3"> 
              <div class="actions">
                <%= f.submit "ログイン" , class:"btn btn-success btn-block" %>
              </div>
                <% end %>
          </div>
        </div>
        
        <div class = "row">
          <h5 class = "col-lg-3 m-3 text-right">会員登録が登録済みでない方</h5>
        </div>
          <div class = "row">
            <p class = "col-lg-4 m-3 text-right"><%= render "public/shared/links" %>　から新規登録を行ってください。</p>
          </div>
        
        <div class = "row">
          <%= link_to "管理者の方はこちらから", new_admin_session_path %>
        </div>
        
      </div>
    </div>
  </div>
</div>


  



