

<div class = "container" >
    <div class = "row">
        
        <div class = "col-sm-12 col-md-2 col-lg-2">
        </div>
        
     
       
        <div class = "col-sm-12 col-md-10 col-lg-10">
                <h4 class = "font-weight-bold m-3">商品一覧（全<%= @item.count %>件）</h4> 
                <div class = "row">
                    <% @item.each do |item| %>
                    
                        <div class = "col-sm-6 col-md-3 col-lg-3">
                            <%= link_to public_item_path(item) do %>
                            <%= image_tag item.image, size: "150x100" %><br>
                            <%= item.name %><br>
                            <% end %>
                            ￥<%= item.price.to_s(:delimited) %><br>
                        </div>
                    <% end %>
                     
              </div>
              <div class ="lead m-3 start-50"><%= paginate @item %></div>
         </div>
       
      
     
      
   </div>
</div>